<!DOCTYPE html>
<html
  x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body class="bg-white dark:bg-gray-800 dark:text-gray-100">
    <div class="container">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

  </div>

  <div class="mt-32 bg-gray-100 dark:bg-gray-700">
    <div class="container max-w-screen-2xl mx-auto pt-16 text-gray-900 dark:text-gray-200">
      <h1 class="text-3xl font-semibold text-center text-primary">Get in touch <span role="img" aria-label="wave">👋</span></h1>
      <p class="px-4 mt-4 text-center text-secondary">Feel free to email me about anything. Want some advice? Give some feedback?</p>
      <p class="px-4 mt-1 text-center text-secondary">You can also reach me around the web:
        <a href="https://github.com/sadanand-singh" class="font-medium text-indigo-400 hover:text-indigo-400 hover:underline" target="_blank" rel="noopener noreferrer">GitHub</a>,
        <a href="https://twitter.com/reckoningdev" class="font-medium text-indigo-400 hover:text-indigo-400 hover:underline" target="_blank" rel="noopener noreferrer">Twitter</a>,
        <a href="https://linkedin.com/in/sadanandsingh" class="font-medium text-indigo-400 hover:text-indigo-400 hover:underline" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </p>
      <div class="mx-auto  pt-10 flex justify-center">
        <a class="px-20 py-2 rounded bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-on-accent" href="mailto:mrg6nm2ji@relay.firefox.com" target="_blank" rel="noopener noreferrer">
          <span class="text-2xl font-semibold text-white text-on-accent">Say hello</span>
        </a>
      </div>
    </div>
  </div>

    {% include "./partials/footer.html" %}


    <script src="/static/js/alpine.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>