<!DOCTYPE html>
<html
  lang="{{ site.lang }}"
  x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
  class="scroll-smooth"
>
  <head>
    {% if site.isProd %}
    <script async
      src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tagmanager_id }}">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ site.google_tagmanager_id }}');
    </script>
  {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ page.url | toAbsoluteUrl }}" />
    {% if tags %}
    {% set title_slug = ["/img/social-preview-images/", title | slugify, "-preview.jpeg"] | join %}
    <meta property="og:image" content="{{ title_slug | toAbsoluteUrl }}" />
    <meta property="og:image:secure_url" content="{{ title_slug | toAbsoluteUrl }}" />
    <meta name="twitter:image" content="{{ title_slug | toAbsoluteUrl }}" />
    <meta property="og:type" content="article"/>
    {% else %}
    <meta property="og:image" content="{{'/static/img/android-chrome-512x512.png' | toAbsoluteUrl }}" />
    <meta property="og:image:secure_url" content="{{'/static/img/android-chrome-512x512.png' | toAbsoluteUrl }}" />
    <meta name="twitter:image" content="{{'/static/img/android-chrome-512x512.png' | toAbsoluteUrl }}" />
    <meta property="og:type" content="blog"/>
    {% endif %}
    <meta property="og:description" content="{{ description or site.description }}"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@reckoningdev" />
    <meta name="twitter:creator" content="@reckoningdev" />
    <title>
      {{title}}
    </title>
    <meta name="description" content="{{ description or site.description }}"/>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css"/>
    {% endif %}
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body class="bg-white dark:bg-gray-800 dark:text-gray-100" x-data="{ isOpen: false }" @keydown.escape="isOpen = false"  @click.away="isOpen = false" :class="{'overflow-hidden overscroll-aut': isOpen }">
    <div style="outline:none">
      {% include "./partials/navbar.html" %}
    <div :class="{'overflow-hidden overscroll-aut opacity-10': isOpen }">
      {{ content | safe }}
    </div>
    </div>

  <div class="mt-32 bg-gray-100 dark:bg-gray-700">
    <div class="container max-w-screen-2xl mx-auto pt-16 text-gray-900 dark:text-gray-200">
      <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-gray-300">Get in touch <span role="img" aria-label="wave">👋</span></h1>
      <p class="px-4 mt-4 text-center text-secondary">Feel free to email me about anything. Want some advice? Give some feedback?</p>
      <p class="px-4 mt-1 text-center text-secondary">You can also reach me around the web:
        <a href="https://github.com/sadanand-singh" class="font-medium text-indigo-400 hover:text-indigo-400 hover:underline" target="_blank" rel="noopener noreferrer">GitHub</a>,
        <a href="https://twitter.com/reckoningdev" class="font-medium text-indigo-400 hover:text-indigo-400 hover:underline" target="_blank" rel="noopener noreferrer">Twitter</a>,
        <a href="https://linkedin.com/in/sadanandsingh" class="font-medium text-indigo-400 hover:text-indigo-400 hover:underline" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </p>
      <div class="mx-auto  pt-10 flex justify-center">
        <a class="px-20 py-2 rounded bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-on-accent" href="mailto:mrg6nm2ji@relay.firefox.com" target="_blank" rel="noopener noreferrer">
          <span class="text-2xl font-semibold text-white text-on-accent">Say hello</span>
        </a>
      </div>
    </div>
  </div>

    {% include "./partials/footer.html" %}


    <script src="/static/js/alpine.js"></script>
    <script>
      feather.replace()
    </script>
    <button x-cloak x-data="{scroll : false}" @scroll.window="document.documentElement.scrollTop > 20 ? scroll = true : scroll = false" x-show="scroll" @click="window.scrollTo({top: 0, behavior: 'smooth'})" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="fixed inline-block p-3 text-xs font-medium leading-tight text-white dark:text-gray-600
      dark:hover:text-white dark:focus:text-white uppercase transition duration-150 ease-in-out bg-slate-600 dark:bg-slate-200 rounded-full shadow-md hover:bg-indigo-700 dark:hover:bg-indigo-400 hover:shadow-lg focus:bg-indigo-700 dark:focus:bg-indigo-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 dark:active:bg-indigo-300 active:shadow-lg bottom-5 right-5" id="btn-back-to-top" x-transition.opacity>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
    </button>
  </body>
</html>