---
layout: default
prism: false
---

<main class="container m-auto px-5 mt-10 sm:px-12 md:px-20 max-w-screen-xl">
    <div class="mb-12">
        <article class="basis-full lg:basis-3/4 prose md:prose-md prose-slate dark:prose-invert prose-headings:text-slate-700 dark:prose-headings:text-slate-300 prose-h2:text-indigo-700 dark:prose-h2:text-indigo-300 prose-h1:text-gray-700 dark:prose-h1:text-gray-300 prose-a:text-gray-500 dark:prose-a:text-gray-300 hover:prose-a:text-indigo-700 dark:hover:prose-a:text-indigo-300 prose-code:bg-gray-200 dark:prose-code:bg-gray-900 prose-blockquote:border-l-indigo-700 dark:prose-blockquote:border-l-indigo-300 min-w-0 max-w-none tracking-normal prose-strong:text-gray-900 dark:prose-strong:text-gray-300">
            {{ content | safe }}
        </article>
    </div>
</main>