---
layout: default
slug: /
title: Blog Posts | reckoning.dev
---

<main class="container m-auto px-5 mt-10 sm:px-12 md:px-20 max-w-screen-xl">
    <h2 class="relative mt-12 mb-3 text-2xl font-bold text-indigo-700 dark:text-indigo-300">Blog</h2>
    <div class="divide grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2  lg:grid-cols-4 gap-3">
        <div class="flex flex-col rounded-sm  text-sm border border-dashed border-l-0 border-t-0 border-r-0 border-b-1 border-opacity-70 border-gray-600 dark:border-gray-300">
            <div class="w-full text-slate-600 dark:text-slate-400 hover:text-gray-700 dark:hover:text-gray-300 sm:inline-block mb-2 pb-2 border border-gray-600 dark:border-gray-300 border-r-0 border-dashed border-l-0 border-t-0 border-opacity-70">
                <span><svg aria-hidden="true" class="mr-1 inline h-6 w-6  transition duration-100" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 9v8h-2v-8h2zm2-2h-6v12h6v-12zm6-4v14h-2v-14h2zm2-2h-6v18h6v-18zm6 13v3h-2v-3h2zm2-2h-6v7h6v-7zm1 9h-24v2h24v-2z"></path></svg>
                </span>
                <div class="ml-1  inline-block ">
                    <span class="font-semibold text-lg ">
                        Machine Learning
                    </span>
                    <span class="text-sm "> (<!-- -->8<!-- -->)</span>
                </div>
            </div>
            <div class="text-left flex-grow divide-y divide-subtle divide-slate-200 dark:divide-slate-700">
                {% set postslist = collections.posts | getPostsByTags(['Machine Learning', 'MachineLearning', 'Deep Learning', 'DeepLearning']) %}
                {% for post in postslist | limit(4) %}
                <div class=" -ml-2 transition duration-500 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 py-2 px-3 ">
                    <a href="{{ post.url }}">
                        <span class=" inline-block">
                            {{ post.data.title }}
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="text-left mb-2 mt-3 hover:text-indigo-700 dark:hover:text-indigo-300">
                <div class="  inline-block pr-3 group  hover:text-indigo-700 dark:hover:text-indigo-300 text-sm">
                    <a href="/tags/machine-learning"><span class="transition pgroup-hover:inline hidden">-</span>-&gt;<span class="ml-1 transition inline-block transform duration-500 group-hover:translate-x-3 ">More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col rounded-sm  text-sm border border-dashed border-l-0 border-t-0 border-r-0 border-b-1 border-opacity-70 border-gray-600 dark:border-gray-300">
            <div class="w-full text-slate-600 dark:text-slate-400 hover:text-primary sm:inline-block mb-2 pb-2 border border-gray-600 dark:border-gray-300 border-r-0 border-dashed border-l-0 border-t-0 border-opacity-70">
                <span>
                    <svg aria-hidden="true" class="mr-1 inline h-6 w-6  transition duration-100" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.759 20.498c-2.342-3.663-5.575-6.958-5.743-11.498h-2.016c.173 5.212 3.512 8.539 5.953 12.356.143.302-.068.644-.377.644h-1.264l-4.734-7h-3.52c.873-1.665 1.85-3.414 1.936-6h-2.01c-.169 4.543-3.421 7.864-5.743 11.498-.165.347-.241.707-.241 1.057 0 1.283 1.023 2.445 2.423 2.445h13.153c1.4 0 2.424-1.162 2.424-2.446 0-.35-.076-.709-.241-1.056zm-4.759-15.498c0 1.105-.896 2-2 2s-2-.895-2-2 .896-2 2-2 2 .895 2 2zm-5-1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5.672-1.5 1.5-1.5 1.5.671 1.5 1.5zm0 3.5c0 .552-.447 1-1 1s-1-.448-1-1 .447-1 1-1 1 .448 1 1zm3-6c0 .552-.447 1-1 1s-1-.448-1-1 .447-1 1-1 1 .448 1 1z"></path>
                    </svg>
                </span>
                <div class="ml-1  inline-block ">
                    <span class="font-semibold text-lg ">Algorithms</span>
                    <span class="text-sm "> (<!-- -->11<!-- -->)</span>
                </div>
            </div>
            <div class="text-left flex-grow divide-y divide-subtle divide-slate-200 dark:divide-slate-700">
                {% set postslist = collections.posts | getPostsByTags(['Algorithms', 'Algorithm', 'Programming', 'Code', 'Python', 'Coding']) %}
                {% for post in postslist | limit(4) %}
                <div class=" -ml-2 transition duration-500 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 py-2 px-3 ">
                    <a href="{{ post.url }}"><span class=" inline-block">{{ post.data.title }}</span></a>
                </div>
                {% endfor %}
            </div>

            <div class="text-left mb-2 mt-3 hover:text-indigo-700 dark:hover:text-indigo-300">
                <div class="  inline-block pr-3 group  hover:text-indigo-700 dark:hover:text-indigo-300 text-sm">
                    <a href="/tags/algorithms">
                        <span class="transition pgroup-hover:inline hidden">
                            -
                        </span>
                        -&gt;
                        <span class="ml-1 transition inline-block transform duration-500 group-hover:translate-x-3 ">
                            More
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col rounded-sm  text-sm border border-dashed border-l-0 border-t-0 border-r-0 border-b-1 border-opacity-70 border-gray-600 dark:border-gray-300">
            <div class="w-full text-slate-600 dark:text-slate-400 hover:text-primary sm:inline-block mb-2 pb-2 border border-gray-600 dark:border-gray-300 border-r-0 border-dashed border-l-0 border-t-0 border-opacity-70">
                <span><svg aria-hidden="true" class="mr-1 inline h-6 w-6  transition duration-100" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 10.935v2.131l-8 3.947v-2.23l5.64-2.783-5.64-2.79v-2.223l8 3.948zm-16 3.848l-5.64-2.783 5.64-2.79v-2.223l-8 3.948v2.131l8 3.947v-2.23zm7.047-10.783h-2.078l-4.011 16h2.073l4.016-16z"></path></svg>
                </span>
                <div class="ml-1  inline-block ">
                    <span class="font-semibold text-lg ">Web</span>
                    <span class="text-sm "> (<!-- -->9<!-- -->)</span>
                </div>
            </div>
            <div class="text-left flex-grow divide-y divide-subtle divide-slate-200 dark:divide-slate-700">
                {% set postslist = collections.posts | getPostsByTags(['Web', 'Blog', '11ty', 'Eleventy', 'Gatsby', 'Hugo', 'Nikola']) %}
                {% for post in postslist | limit(4) %}
                <div class=" -ml-2 transition duration-500 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 py-2 px-3 ">
                    <a href="{{ post.url }}"><span class=" inline-block">{{ post.data.title }}</span></a>
                </div>
                {% endfor %}
            </div>
            <div class="text-left mb-2 mt-3 hover:text-indigo-700 dark:hover:text-indigo-300">
                <div class="  inline-block pr-3 group  hover:text-indigo-700 dark:hover:text-indigo-300 text-sm">
                    <a href="/tags/web">
                        <span class="transition pgroup-hover:inline hidden">-</span>
                        -&gt;
                        <span class="ml-1 transition inline-block transform duration-500 group-hover:translate-x-3 ">More</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col rounded-sm  text-sm border border-dashed border-l-0 border-t-0 border-r-0 border-b-1 border-opacity-70 border-gray-600 dark:border-gray-300">
            <div class="w-full text-slate-600 dark:text-slate-400 hover:text-primary sm:inline-block mb-2 pb-2 border border-gray-600 dark:border-gray-300 border-r-0 border-dashed border-l-0 border-t-0 border-opacity-70">
                <span><svg aria-hidden="true" class="mr-1 inline h-6 w-6  transition duration-100" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0c2.799 1.2 8.683.955 8.307 6.371l-2.143 2.186c-5.338.093-5.239-5.605-6.164-8.557zm10.884 15.402c2.708 2.048 11.824 8.451 11.824 8.451.754.513 1.662-.417 1.136-1.162 0 0-6.607-8.964-8.719-11.619-1.668-2.101-2.502-2.175-5.46-3.046l-1.953 1.997c.936 2.931 1.033 3.76 3.172 5.379zm-4.877 3.332l2.62-2.626c-.26-.244-.489-.485-.69-.724l-2.637 2.643.707.707zm8.244-11.162l4.804-4.814 2.154 2.155-4.696 4.706c.438.525.813 1.021 1.246 1.584l6.241-6.253-4.949-4.95-6.721 6.733c.705.229 1.328.483 1.921.839zm4.837-3.366l-3.972 3.981c.24.199.484.423.732.681l3.946-3.956-.706-.706zm-9.701 12.554l-3.6 3.607-2.979.825.824-2.979 3.677-3.685c-.356-.583-.617-1.203-.859-1.904l-4.626 4.635-1.824 6.741 6.773-1.791 4.227-4.234c-1-.728-1.03-.749-1.613-1.215z"></path></svg>
                </span>
                <div class="ml-1  inline-block ">
                    <span class="font-semibold text-lg ">Guides</span>
                    <span class="text-sm "> (<!-- -->14<!-- -->)</span>
                </div>
            </div>
            <div class="text-left flex-grow divide-y divide-subtle divide-slate-200 dark:divide-slate-700">
                {% set postslist = collections.posts | getPostsByTags(['Guides', 'Productivity']) %}
                {% for post in postslist | limit(4) %}
                <div class=" -ml-2 transition duration-500 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 py-2 px-3 ">
                    <a href="{{ post.url }}"><span class=" inline-block">{{ post.data.title }}</span></a>
                </div>
                {% endfor %}
            </div>

            <div class="text-left mb-2 mt-3 hover:text-indigo-700 dark:hover:text-indigo-300">
                <div class="  inline-block pr-3 group  hover:text-indigo-700 dark:hover:text-indigo-300 text-sm">
                    <a href="/tags/guides">
                        <span class="transition pgroup-hover:inline hidden">-</span>
                        -&gt;
                        <span class="ml-1 transition inline-block transform duration-500 group-hover:translate-x-3 ">More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="mt-15">
        {% set postslist = collections.posts %}
        {% include "../_includes/partials/taglist.html" %}
        {% include "../_includes/partials/postslists.html" %}
        {% include "../_includes/partials/taglist.html" %}
    </section>
</main>