@import url("https://rsms.me/inter/inter.css");

@tailwind base;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-left lg:text-5xl;
}

h2 {
  @apply text-3xl font-bold mb-3;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blob {
  z-index: -10;
}

.blob-bg {
  transform: scale(2.85);
  z-index: -10;
}

.blob-rotate {
  animation: rotate 50s linear infinite;
}

.blob-rotate-faster {
  animation: rotate 25s linear infinite;
}

.txt-mod {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

.tooltipped::before {
  color: #fcf !important;
  border-bottom-color: #ffccff !important;
}

.tooltipped::after {
  background-color: #fcf !important;
  color: #303 !important;
}

aside.sticky {
  top: 4rem;
}

/* Define some standard callout blocks */
.callout {
  @apply px-8 py-4 mb-2 mr-1 bg-yellow-200 dark:text-gray-900 dark:bg-yellow-400 border-l-8 border-yellow-600 dark:border-yellow-700;
}
.callout a {
  @apply text-gray-800;
}
.callout ul > li::before {
  @apply bg-gray-900;
}
.callout h2,
.callout h3 {
  @apply mt-0 mb-1 text-2xl dark:text-gray-800;
}
.callout h3 {
  @apply text-xl;
}
.callout p {
  @apply mb-1 mt-0;
}
.callout strong {
  @apply text-lg text-gray-800;
}

.callout-blue {
  @apply px-8 py-4 mb-2 mr-1 bg-blue-200 text-gray-900 dark:bg-blue-400 border-l-8 border-blue-800;
}
.callout-blue a {
  @apply text-gray-800;
}
.callout-blue ul > li::before {
  @apply bg-gray-900;
}
.callout-blue h2,
.callout -blue h3 {
  @apply mt-0 mb-1 text-2xl dark:text-gray-800;
}
.callout-blue h3 {
  @apply text-xl;
}
.callout-blue p {
  @apply mb-1 mt-0;
}
.callout-blue strong {
  @apply text-lg text-gray-800;
}

.callout-pink {
  @apply px-8 py-4 mb-2 mr-1 bg-pink-200 text-gray-900 dark:bg-pink-400 border-l-8 border-pink-600 dark:border-pink-600;
}
.callout-pink a {
  @apply text-gray-800;
}
.callout-pink ul > li::before {
  @apply bg-gray-900;
}
.callout-pink h2,
.callout-pink h3 {
  @apply mt-0 mb-1 text-2xl dark:text-gray-800;
}
.callout-pink h3 {
  @apply text-xl;
}
.callout-pink p {
  @apply mb-1 mt-0;
}
.callout-pink strong {
  @apply text-lg text-gray-800;
}

.callout-green {
  @apply px-8 py-4 mb-2 mr-1 bg-green-200 text-gray-900 dark:bg-green-400 border-l-8 border-green-600 dark:border-green-900;
}
.callout-green a {
  @apply text-gray-800;
}
.callout-green ul > li::before {
  @apply bg-gray-900;
}
.callout-green h2,
.callout-green h3 {
  @apply mt-0 mb-1 text-2xl dark:text-gray-800;
}
.callout-green h3 {
  @apply text-xl;
}
.callout-green p {
  @apply mb-1 mt-0;
}
.callout-green strong {
  @apply text-lg text-gray-800;
}

.warning {
  @apply px-8 py-4 mb-4 mr-1 bg-red-400 text-gray-50 text-gray-900 dark:bg-red-400 border-l-8 border-red-800 text-gray-100 dark:text-gray-100;
}
.warning a {
  @apply text-gray-800;
}
.warning ul > li::before {
  @apply bg-gray-900;
}
.warning h2,
.warning h3 {
  @apply mt-0 mb-1 text-2xl dark:text-gray-800;
}
.warning h3 {
  @apply text-xl;
}
.warning p {
  @apply mb-1 mt-0;
}
.warning strong {
  @apply text-lg text-gray-800;
}

@tailwind components;

/* Custom components using @apply */

@tailwind utilities;

/* Custom utilities, can wrap in @responsive, @variants hover, etc.. */

/* Syntax Highlighting*/

:not(pre) > code[class*='language-'] {
  padding: 3px 5px;
}

:not(pre) > code {
  padding: 3px 5px;
  border: none;
  font-family: Menlo, 'Roboto Mono', Courier New, monospace;
  font-weight: 400;
  border-radius: 4px;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "" !important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "" !important;
}

body pre[class*="language-"] {
  @apply bg-slate-900;
}
