---
layout: default
title: Home | reckoning.dev
path: home
---


<main class="container m-auto px-5 mt-10 sm:px-12 md:px-20 max-w-screen-xl">
  <div class="mt-12 flex flex-col-reverse lg:flex-row items-center lg:justify-between lg:space-x-6">
    <div>

    <h1 class="text-left mt-4 mb-4">
      <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
        Hi There!
      </strong>
    </h1>

    <p>
      This is my digital garden for all things related to deep learning, machine learning, algorithms, maths, food and everything else!
      </p>
      <br/>
      <p>
      I am a Principal Research Scientist <a href="https://micron.com" class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-800 dark:hover:text-indigo-200">@Micron</a>, Photography Enthusiast, and a Foodie!
    </p>

    </div>
    <div class="blob h-48 md:h-56 lg:h-64">
      <svg class="blob-rotate-faster h-full" viewBox="0 0 128 129" xmlns="http://www.w3.org/2000/svg">
        <path d="M51,8c29,15,38-4,40-9c-5,22-20,39-40,47l-43-21z" fill="#86BA0C"/>
        <path d="M46,100l-40-21v-45l40,20z" fill="#EF7C00"/>
        <path d="M55,100l39-21v-45l-39,20z" fill='#BD1789'/>
      </svg>
    </div>
  </div>

  <section class="">
    <h3 class="mt-12 font-semibold text-lg text-indigo-500 dark:text-indigo-300 mb-4">
      INTERESTING WRITINGS
    </h3>

    {% set postsLimit = 5 %}
    {% set postslist = collections.posts | getPostsByTags(['Machine Learning', 'MachineLearning', 'Deep Learning', 'DeepLearning', 'Productivity', 'Algorithms', 'Algorithm', 'Programming']) %}
    {% include "./_includes/partials/postslists.html" %}

<div class="mt-5 border-t pt-4 border-slate-200 dark:border-gray-700" aria-label="hidden">
  <div class="inline-block pr-3 group text-lg">
    <a href="/blog">
      <div class="flex justify-between ">
      <i data-feather="arrow-right"></i>
      <span class="ml-1 transition inline-block transform duration-500 hover:translate-x-3 hover:text-indigo-500 dark:hover:text-indigo-300">All Blog Posts</span>
    </div>
    </a>
  </div>
</div>


<h3 class="mt-12 font-semibold text-lg text-indigo-500 dark:text-indigo-300 mb-4">
  RECENT PUBLICATIONS
</h3>

{% set publicationsListLimit = 2 %}
{% include "./_includes/partials/publications.html" %}

<div class="mt-5 border-t pt-4 border-slate-200 dark:border-gray-700" aria-label="hidden">
  <div class="inline-block pr-3 group text-lg">
    <a href="/about#publications">
      <div class="flex justify-between ">
      <i data-feather="arrow-right"></i>
      <span class="ml-1 transition inline-block transform duration-500 hover:translate-x-3 hover:text-indigo-500 dark:hover:text-indigo-300">All Publications</span>
    </div>
    </a>
  </div>
</div>

</section>

</main>
