---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: default
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<main class="container m-auto px-5 mt-10 sm:px-12 md:px-20 max-w-screen-xl">
{% set postslist = collections[ tag ] | reverse %}
<h2 class="relative mt-12 mb-3 text-2xl font-bold text-indigo-500 dark:text-indigo-300">
    Blog Post Tag - <span class="capitalize">{{ tag }}</span>
</h2>
<h4 class="mb-3"> {{ postslist.length }} posts tagged with "{{ tag }}"</h4>

{% include "./_includes/partials/taglist.html" %}

{% include "./_includes/partials/postslists.html" %}

{% include "./_includes/partials/taglist.html" %}
</main>