{% set related = collections.posts | relatedPosts(title, tags, page.date, page.url) %}

<ul class="mt-3  grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 ">
    {% for post in related %}
    <li class="py-2 pb-3  border border-l-0 border-r-0 border-t-0 border-b-1 lg:border-b-0 cursor-pointer ">
        <a href="{{ post.url }}">
            <div class="flex flex-col h-full ">
                <div class="w-full text-sm font-light text-gray-600 dark:text-gray-400 mr-1">
                    {{ post.date | readableDate }}
                </div>
                <div class="w-full font-semibold hover:text-indigo-600 dark:hover:text-indigo-400 mb-1">
                    {{ post.data.title }}
                </div>
                <div class="w-full flex-grow text-sm text-gray-600 dark:text-gray-400">
                    {{ post.templateContent | striptags | truncate(90, true) }}
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>