<div class="mt-8 border-gray-500 border-r-0 border-dashed border-l-0 border-t-0 border-opacity-10">
    {% include "src/_includes/partials/tag-symbol.html" %}
    <span class="font-semibold"> All Tags: </span>

    {% set comma = joiner() %}
    {%- for name, length in postslist | getTags -%}
        <span class="text-sm inline-block">
            {{ comma() }}
            <span class="hover:text-accent hover:underline">
                <a href="/tags/{{ name | slugify }}">{{ name }} ({{ length }})</a>
            </span>
        </span>
    {%- endfor -%}
</div>